@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.home-container {
    color: var(--dark-primary-color);
    font-family: var(--home-font);
    margin: 0 auto;
}

.home-title {
    font-family: "Nunito", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
  
.carousel-section {
    margin: 0 auto;
    position: relative; 
    width: 85%;
}
  
.carousel-inner {
    border-radius: 15px;
    display: flex;
}
  
.carousel img {
    height: 600px;
    object-fit: cover;
}
  
.home-text {
    font-family: "Nunito", sans-serif;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 400;
} 

#prev,
#next {
    height: 70px;
    margin-left: 60px;
    margin-right: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 70px;
}

#prevIcon,
#nextIcon {
    background-image: url('../../images/right-arrow.svg');
    background-size: 100%, 100%;
    height: 100px;
    outline: black;
    width: 50px;
}

#prevIcon {
    transform: rotate(180deg);    
}