.filter-button-header {
  align-items: center;
  display: flex;
  font-size: 18px;
  font-weight: bold;
}

.filter-button-header img,
.days-buttons img {
  height: 30px;
  margin: 0px 6px 0px 0px;
  width: 30px;
}

.filter-button-header h2 {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}

.accordion-body {
  padding: 20px 40px;
}

.accordion-body strong {
  font-size: 19px;
  font-weight: 500;
}

.days-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0px -20px 20px -20px;
  padding-top: 5px;
}

.days-button {
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: var(--radius-button);
  cursor: pointer;
  display: flex;
  flex: 1;
  justify-content: center;
  margin: 0 20px;
  padding: 10px 0;
  position: relative;
}

.days-buttons span {
  font-size: 18px;
  font-weight: bold;
  margin-top: 3px;
}

.days-button.active {
  background-color: var(--cyan);
  border-color: transparent;
}

.days-button.active span {
  color: white;
}

.filter-dropdown .dropdown-toggle-custom {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: var(--radius-button);
  color: #000;
  text-align: left;
  width: 100%;
}

.filter-dropdown {
  margin-top: 6px;
}

.dropdown-menu {
  border-radius: var(--radius-card);
}

.dropdown-menu,
.dropdown-item {
  background-color: var(--dark-blue) !important;
  color: white !important;
  font-weight: 500;
}

.dropdown-item:hover {
  text-decoration: underline;
}

.view-graphs-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}