.navbar {
  align-items: center;
  background-color: var(--cyan);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;  
}

.navbar-logo {
  margin-left: 100px;
}

.navbar-logo a {
  align-items: center;
  display: flex;
  justify-content: center;
}

.logo {
  height: 50px;
  margin-right: 10px;
  width: auto;
}

.app-name {
  height: auto;
  max-width: 150px;
}

.navbar-buttons {
  display: flex;
  margin-right: 100px;
}

/* Media query para hacer el navbar responsivo */
@media (max-width: 600px) {
  .navbar {
    align-items: flex-start; 
    flex-direction: column; 
  }

  .navbar-buttons {
    margin-top: 10px; 
  }
}