.user-buttons {
    display: inline-flex;
    font-family: var(--font);
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 10px;
}

.icon-notifications {
    height: 30px;
    width: 30px;
}

.icon-user {
    height: 35px;
    width: 35px;
}

.icon-button:focus {
    outline: none;
}

#dropdown-user {
    color: var(--light-text-color);
}

#dropdown-user-menu {
    background-color: var(--dark-primary-color);
    color: var(--light-text-color);
}

.dropdown-item {
    background-color: var(--dark-primary-color);
    color: var(--light-text-color) !important;
}

.dropdown-item:hover {
    background-color: #19355e !important
}