@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.user-buttons {
  align-items: center;
  display: inline-flex;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer; 
  padding: 0 10px;
  position: relative;
}

.icon-notifications,
.icon-user,
.icon-close {
  height: 30px;
  width: 30px;
}

.notification-badge {
  align-items: center;
  background-color: #dc3545;
  border-radius: 50%;
  color: white;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  height: 20px;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
}

/* Estilos para el modal de notificaciones */
.dropdown-notifications {
  min-width: 300px !important; 
  transform: translate(-280px, 17px);
}

.notifications-header {
  align-items: center;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px !important;
}

.notification-count {
  background-color: #dc3545; 
  border-radius: 50%;
  color: white;
  font-size: 12px;
  padding: 3px 7px;
}

.notification-item {
  align-items: flex-start;
  background: white;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  padding: 10px !important;
}

.notification-item:hover {
  background: #d7dde4;
}

.notification-title {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.notification-message {
  color: #666;
  display: block;
  font-size: 12px;
}

.delete-notification {
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

.delete-notification:hover {
  background: #adb5bd;
}

.dropdown-item:hover {
  background-color: #19355e !important;
}

/* Estilos para el modal del recordatorio  */
.modal-body h4 {
  font-size: larger;
  font-style: italic;
}

.info-item img {
  height: 25px;
  margin-right: 6px;
  width: 25px;
}

.info-item strong {
  font-style: italic;
  font-weight: 600;
}

.info-item span {
  color: #797979;
  font-style: italic;
}