.image-upload-div {
    align-items: center;
    border: 2px dashed #ccc !important;
    border-radius: var(--radius-button);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0.5rem;
    min-height: 70px;
    padding: 2rem;
    position: relative;
}

.image-upload-div label,
.image-upload-div span {
    align-self: center;
    cursor: pointer;
    display: flex;
    font-weight: 600;
}

.label-icon {
    display: flex;
    height: 35px;
    width: auto;
}

.image-upload-div span {
    display: flex;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}