@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.modal-content {
  font-family: "Montserrat", sans-serif;
}

.modal-header {
  background-color: transparent !important;
}

.modal-title {
  font-family: "Montserrat", sans-serif;
  margin-left: 20px;
}

.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.input-group {
  align-items: center;
  display: flex;
  max-width: 400px;
  width: 100%;
}

.input-group.username {
  margin-top: 25px;
}

.input-group.password {
  padding-bottom: 10px;
}

.input-group-text {
  background-color: #f1f1f1;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  padding: 10px 15px;
}

.input-icon {
  height: auto;
  width: 20px;
}

.input-group .rounded-input {
  border-radius: 0px 30px 30px 0px !important;
  font-size: 16px;
  padding: 10px 20px;
}

form .btn {
  background-color: var(--primary-color);
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  padding: 7px 30px 7px 30px;
}

form .btn:hover {
  background-color: #216870 !important;
  border: none;
}

.modal-footer {
  flex-direction: column;
}

.footer-text {
  color: #6F6E6E;
  font-family: "Nunito", sans-serif;
  font-style: italic;
  padding: 5px;
}

.text-primary {
  font-weight: bold;
}

#password-addon,
#username-addon {
  background-color: var( --light-accent-color);
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}