@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Estilos para la página completa */
.habits-page-container {
  padding: 20px;
  text-align: center;
}

.title-section h1 {
  font-family: "Nunito", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 24px;
}

.buttons-container {
  display: flex;
  gap: 16px;
  justify-content: left;
  margin: 10px;
}

/* Estilos para el botón de crear hábito y progreso */
.create-habits {
  background-color: var(--primary-color) !important;
  border: none !important;
  border-radius: 10px !important;
  margin: 0px 60px 0px 15px;
  padding: 7px 20px !important;
}

.progress-habits {
  background-color: var(--primary-color) !important;
  border: none !important;
  border-radius: 8px;
  color: white;
  padding: 7px 20px !important;
}

.create-habits:hover,
.progress-habits:hover {
  background-color: #216870 !important;
  border: none;
}

/* Estilos para la sección de los hábitos */
.habits-title-container {
  background-color: #feae6f;
  height: 50px;
  margin: 40px 20px;
  padding: 10px 0;
}

.habits-title {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 24px !important;
  font-weight: bold;
  margin-bottom: 16px;
}

.habits-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin: 20px;
}

.text-habits {
  font-family: "Montserrat", sans-serif;
  margin-left: 20px;
}

.habit-card {
  align-items: center;
  background-color: #f8d8a5;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  width: 230px;
}

.habit-card.completed {
  background-color: #ACE9A7;
}

.habit-info {
  text-align: left;
  width: 210px;
}

.habit-goal {
  float: right;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.habit-name {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-left: 8px;
}

.habit-progress {
  align-items: center;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.habit-progress button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 35px;
}

.habit-progress span {
  font-size: 20px;
}

.details-button {
  background-color: #FEAE6F;
  border: none;
  border-radius: 8px;
  color: #5D4848;
  cursor: pointer;
  font-weight: 500;
  padding: 5px 10px;
  width: 120px;
}

.details-button:hover {
  background-color: #e69659;
}