/* Estilos para la página completa */
.habits-page-container {
  padding: 20px;
  text-align: center;
}

.title-section h1 {
  font-family: "Nunito", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 24px;
}

.buttons-container {
  display: flex;
  gap: 60px;
  justify-content: left;
  margin: 10px 10px 10px 20px;
}

/* Estilos para el botón de progreso */
.progress-habits {
  color: white;
}

/* Estilos para el modal de Nuevo Hábito */
.form-label {
  margin-top: 15px;
}

/* Estilos para la sección de los hábitos */
.habits-title-container {
  background-color: #feae6f;
  height: 50px;
  margin: 40px 20px;
  padding: 10px 0;
}

.habits-title {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 24px !important;
  font-weight: bold;
  margin-bottom: 16px;
}

.habits-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  margin: 20px;
}

.text-habits {
  font-family: "Montserrat", sans-serif;
}

/* Estilos para los cards de hábitos */
.habit-card {
  align-items: center;
  background-color: #f8d8a5;
  border-radius: var(--radius-button);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  width: 230px;
}

.habit-card.completed {
  background-color: #ACE9A7;
}

.habit-info {
  padding: 0px 8px;
  text-align: left;
  width: 210px;
}

.habit-goal {
  float: right;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.habit-name {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-left: 8px;
}

.habit-progress {
  align-items: center;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.habit-progress button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 35px;
}

.habit-progress span {
  font-size: 20px;
}

.spinner {
  margin-bottom: 20px;
  margin-top: 10px;
}