/* Estilos para el modal 'Información' */
.info-item-category {
  margin-top: 15px;
}

.info-item-category img {
  height: 25px;
  margin-left: 10px;
  margin-right: 6px;
  width: 25px;
}

.info-item-category strong {
  font-style: italic;
  font-weight: 600;
}

.info-item-category span {
  color: #797979;
  font-style: italic;
}

.progress-container {
  padding-bottom: 15px;
}

.progress {
  border-radius: 10px;
}

.progress-bar {
  background-color: #4caf50;
  border-radius: 0px 8px 8px 0px;
}